<div class="container" style="margin-top: 5px;">

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <img src="/images/Value Integrators.jpeg" class="img-responsive">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5" style="text-align: center">


        <div class="row">
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 btn btn-info" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px">
            <div class="div_middle_content">
              <img class="img-responsive" src="/images/revenue stream.png" height="100" width="100">
            </div>
            <p style="font-size: small;float: none;"><strong>TCS HOBS platform</strong> </p>
          </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 btn btn-info" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px">
            <div class="div_middle_content">
              <img class="img-responsive" src="/images/HOBS iot.png" height="100" width="100">
            </div>
            <p style="float: none;font-size: small"><strong>TCS HOBs for enterprise customers</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 btn btn-info" >
            <div class="div_middle_content">
              <img class="img-responsive" src="/images/trivus.png" height="100" width="100">
            </div>
            <p style="float: none; font-size: small"><strong>Next Gen content delivery - OTT as a service (Trivus)</strong></p>
          </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 btn btn-info" >
            <div class="div_middle_content">
              <img class="img-responsive" src="/images/digital market place.png" height="100" width="100">
            </div>
            <p style="font-size: small"><strong>TCS Marketplace Platform</strong></p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div>
    <a class="btn btn-info" (click)="navigateToHome()"><strong>Back to Home</strong></a>
  </div>
</div>
